  .lorem{
  background-color:brown;color:white;
}
#new_class{background-color:aqua;color:blueviolet;}
.Fb{ text-decoration:none; font-size: 20px}
.website{
  background-color:aqua;color:black;
}
.contact{
  color:red;
}
.home{color:black;}

.contact{color:red}